.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zvQgp {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 13px;
  flex-direction: column;
}
.freeBox__zvQgp > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__zvQgp > :global(.__wab_flex-container) > *,
.freeBox__zvQgp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zvQgp > :global(.__wab_flex-container) > picture > img,
.freeBox__zvQgp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.freeBox___4Coll {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3px 8px 8px;
}
.text__poNvi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  left: auto;
  top: auto;
  flex-shrink: 0;
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  white-space: pre-wrap;
}
.h6__eBtE2 {
  text-align: right;
  font-family: var(--iran-sans-x);
  padding: 15px 5px 0px 1px;
}
.text__yw6Jt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  left: auto;
  top: auto;
  flex-shrink: 0;
  font-size: 56px;
  font-weight: 400;
  text-align: right;
  white-space: pre-wrap;
  display: none;
}
.h6__rtPk1 {
  font-weight: 400;
  text-align: right;
  width: 338px;
}
.freeBox__laggs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sDsLk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___29ZsY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 40px;
  margin-left: 6px;
  flex-shrink: 0;
}
.img___29ZsY > picture > img {
  object-fit: cover;
}
.text___1S3F8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: var(--token-NlYKUzS5DGTT);
  color: var(--token-N7E-iBLBGvbe);
  font-family: "IRANSansXV";
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vbKAv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  left: auto;
  top: auto;
  flex-shrink: 0;
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  white-space: pre-wrap;
  display: none;
}
.svg {
  object-fit: cover;
  width: 100%;
  color: var(--token-kpM4b4mG4f2d);
  transform: rotateX(0deg) rotateY(119deg) rotateZ(0deg);
  height: 100%;
  margin-left: 0px;
  transform-style: preserve-3d;
  min-width: 0;
  min-height: 0;
}
.svg * {
  transform-style: preserve-3d;
}
.freeBox__zLftn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__nQKyM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 40px;
  margin-left: 6px;
  flex-shrink: 0;
}
.img__nQKyM > picture > img {
  object-fit: cover;
}
.text__mZyXo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: var(--token-NlYKUzS5DGTT);
  color: var(--token-N7E-iBLBGvbe);
  font-family: "IRANSansXV";
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  display: none;
}
.text___0MfFb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  color: var(--token-N7E-iBLBGvbe);
  font-family: "IRANSansXV";
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5em;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: 1.4em;
}
.loading {
  height: 100%;
  width: 100px;
  object-fit: cover;
  margin-left: 82px;
  min-height: 0;
  display: none;
}
.text__fqZvh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  left: auto;
  top: auto;
  flex-shrink: 0;
  font-size: 56px;
  font-weight: 400;
  text-align: right;
  white-space: pre-wrap;
  display: none;
}
.h6__qUd {
  font-weight: 400;
  text-align: right;
  width: 338px;
}
.img__gd4Ci {
  object-fit: fill;
  max-width: 100%;
  display: none;
}
.img__gd4Ci > picture > img {
  object-fit: fill;
}
.img__iRy6T {
  object-fit: cover;
  max-width: 100%;
}
.img__iRy6T > picture > img {
  object-fit: cover;
}
.text__tasqH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  left: auto;
  top: auto;
  flex-shrink: 0;
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  white-space: pre-wrap;
}
.h6__a1Uvo {
  text-align: right;
  padding: 0px 5px 0px 1px;
}
.h6__iPoxf {
  margin-top: var(--token-QcxRWQfhgyJI);
  font-family: var(--iran-sans-x);
}
.text__uXg5H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  left: auto;
  top: auto;
  flex-shrink: 0;
  font-size: 56px;
  font-weight: 400;
  text-align: right;
  white-space: pre-wrap;
  margin-top: 9px;
}
.h6__n09Sf {
  font-weight: 400;
  text-align: right;
  margin-top: var(--token-BCWljTOyDNmw);
  font-family: var(--iran-sans-x);
  padding: 0px 5px 0px 2px;
}
.button__qMxJ4:global(.__wab_instance) {
  max-width: 100%;
  margin: 460px 0px 17px;
}
.svg__fPlNr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dL3T {
  color: var(--token-Le07ngBUPl2h);
}
.svg__jPhby {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___6V6Qq:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 17px;
  margin-top: 10px;
  display: none;
}
.svg__mijtZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kU8D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dbBj7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.splunkEventRedirect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.writeTransitionDataCookie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
