.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-PZpOnBUvkX_f);
  font-family: var(--token-tWPbOAs8Pm_u);
  font-size: var(--token-dDV3LiRxQJoi);
  line-height: var(--token-w7HRd4rc3SVc);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-X7XPSCkj-wxB);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-akgRSIZwiJ51);
  line-height: var(--token-SgGHxtnG5K5z);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-difl48YsAvZT);
  line-height: var(--token-eUNfBHcjaT4s);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-xfUO7uYz672N);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-uO8iZerFL0fR);
  display: block;
}
