.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  justify-items: flex-start;
  background: #f1f5f9;
  align-content: flex-start;
  transition-property: all;
  transition-duration: 1s;
  padding-top: 28px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.text__nN7K1 {
  position: relative;
  width: 100%;
  height: var(--token-QcxRWQfhgyJI);
  max-width: 100%;
  font-weight: 800;
  font-size: var(--token-RxWJli6xyBzp);
  min-width: 0;
  display: none;
}
.newsUpdatesFragmentApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ouBiq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 14px;
  min-width: 0;
}
.text__wco8H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.taskCardItem__gd7V:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 4px;
  margin-top: 13px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
  margin: var(--token-Fv8-L_kN-2Ma);
}
.getMySearchDocument:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__eBwgp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-content: stretch;
  align-self: auto;
}
.img__p1MY {
  object-fit: scale-down;
  max-width: 48px;
  align-self: center;
}
.img__p1MY > picture > img {
  object-fit: scale-down;
}
.text__by5IM {
  height: auto;
  max-width: 100%;
  width: auto;
  align-self: center;
}
.text__wEjYx {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.growthOpportunitiesFragmentApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___8CJNh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-content: stretch;
  align-self: auto;
}
.img__bfV58 {
  object-fit: scale-down;
  max-width: 48px;
  align-self: center;
}
.img__bfV58 > picture > img {
  object-fit: scale-down;
}
.text__ayivr {
  height: auto;
  max-width: 100%;
  width: auto;
  align-self: center;
}
.text___2Ghbf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__g5Unx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 8px;
  border: 1px solid var(--token-GEppKCdlxgWK);
}
.h6__wPuk6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 10px;
  min-width: 0;
}
.main__anzns {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-VrIY9r5RDQZ_);
  min-width: 0;
  margin: 0px 0px 10px;
}
.taskCardItem__pB9M4:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 4px;
}
.freeBox__hTcro {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  min-width: 0;
  padding: 6px 0px;
}
.freeBox___6T4Ji {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 8px;
  border: 1px solid var(--token-GEppKCdlxgWK);
}
.h6__l69DR {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 10px;
  min-width: 0;
}
.groupExpertiseOnlineVisitsPricingStats:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__otToo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 12px;
  min-width: 0;
  border-radius: var(--token-_c276Gs_1FIE);
  padding: 8px;
  border-width: 5px;
  border-style: solid;
}
.h6__u6RgF {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.linearScaleCustomChart2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.linearScaleCustomChart__jEjHe:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.fragmentChart:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__zY36Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.chart__dItqY:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  min-width: 0;
}
.linearScaleCustomChart___8ZMrv:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.freeBox__bBhKw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  min-width: 0;
}
.svg__hnDjI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f2d721;
  height: var(--token-W6cMLA0AZVBO);
  margin: var(--token-fhaz6q6bl-fW);
}
.main__tXQkN {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
}
.main__qrmV {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-VrIY9r5RDQZ_);
  min-width: 0;
  margin: 0px 0px 10px;
}
.text__z2EUv {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 14px;
  min-width: 0;
}
.main__uh8Qe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
  margin: 0px 0px 10px;
}
.freeBox___2PNhM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  margin-bottom: 0px;
  min-width: 0;
  padding: 19px 0px 17px;
}
.freeBox___7Og6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 0;
  border-radius: var(--token-fhaz6q6bl-fW);
  padding: 8px;
  border: 1px solid var(--token-GEppKCdlxgWK);
}
.h6__jf1Uy {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 10px;
  min-width: 0;
}
.sanjeSearchCardViewFragmentApiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ylQUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3ZVfj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zpJac {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 20px;
  min-width: 0;
}
.chart__uVyNw:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  user-select: text;
  min-width: 0;
}
.sanjeSearchClickPositionFragmentApiRequest3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___50Avl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tjDfl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5CVj8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 19px;
  min-width: 0;
}
.chart__wl5YV:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  user-select: text;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__m4Z5V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yftuE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fsagY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  display: none;
}
.text__leMv8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
  display: none;
}
.text___42KcK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 16px;
  min-width: 0;
  display: none;
}
.freeBox__vwZX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-6sli1sYB-Ose);
}
.rateThePage:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 11px;
  width: 100%;
  min-width: 0;
}
.svg__aOheG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__doPmz {
  color: var(--token-u3OudfMChOo3);
}
.svg___3WOfw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-u3OudfMChOo3);
}
.supportLink:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 11px;
  width: 100%;
  min-width: 0;
}
.svg___9HgHn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dFzvt {
  color: var(--token-u3OudfMChOo3);
  height: auto;
}
.svg__bzqa9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-u3OudfMChOo3);
}
.text__xePdf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 16px;
  font-size: var(--token-VrIY9r5RDQZ_);
  color: var(--token-Ycl7DlUSVY4S);
  margin-top: 8px;
  min-width: 0;
}
.text__syPav {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 16px;
  min-width: 0;
}
.runGtmAndMetricaSideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.gtm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  opacity: 0;
}
