.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 11px;
  min-width: 0;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__cbWv4 {
  text-align: center;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__oR5Fm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-Fv8-L_kN-2Ma);
  min-width: 0;
}
.freeBox___2EO3Y {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 22px;
  column-gap: var(--token-vMUQwr5Jto1d);
  min-width: 0;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.text___7Qzu5 {
  text-align: right;
  font-weight: 400;
  font-size: var(--token-RxWJli6xyBzp);
}
.dynamicPageCardList:global(.__wab_instance) {
  max-width: 100%;
}
