.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  padding-right: var(--token-Fv8-L_kN-2Ma);
  padding-left: var(--token-Fv8-L_kN-2Ma);
  box-shadow: 0px 1px 2px 0px #0000001a;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  border-bottom: 1px solid var(--token-Y3HOiwZmAcAF);
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 32px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-RxWJli6xyBzp);
  font-weight: 900;
  color: var(--token-N7E-iBLBGvbe);
}
