.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0px 10px 15px 0px #64748b12;
  overflow: hidden;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid #0000000d;
}
.freeBox__cTcaN {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  backdrop-filter: blur(1px);
  pointer-events: auto;
  left: 0;
  top: 0;
  z-index: 5;
  right: 0;
  bottom: 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #afb2b51c;
  -webkit-backdrop-filter: blur(1px);
}
.text__cSagy {
  text-align: center;
  font-weight: 500;
}
.freeBox__yYon2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: var(--token-_c276Gs_1FIE);
  align-self: auto;
  bottom: var(--token-_c276Gs_1FIE);
}
.captionText {
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-BU1JCAY6hntB);
  padding-right: 11px;
  padding-left: 11px;
  opacity: 0.8;
  text-align: left;
  color: var(--token-sMH6_tUwTYlv);
  font-size: var(--token-VrIY9r5RDQZ_);
  border-radius: var(--token-dT-owZu8-6an);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-RvPI6LyeIPmd);
  min-width: 0;
  padding: 16px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-fhaz6q6bl-fW));
  height: calc(100% + var(--token-fhaz6q6bl-fW));
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-fhaz6q6bl-fW);
}
.headernoTitle {
  display: none;
}
.freeBox__wHmgr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__wHmgr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__wHmgr > :global(.__wab_flex-container) > *,
.freeBox__wHmgr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wHmgr > :global(.__wab_flex-container) > picture > img,
.freeBox__wHmgr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.text__lxd3T {
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 600;
}
.freeBox__sWitC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__sWitC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_c276Gs_1FIE));
  width: calc(100% + var(--token-_c276Gs_1FIE));
}
.freeBox__sWitC > :global(.__wab_flex-container) > *,
.freeBox__sWitC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sWitC > :global(.__wab_flex-container) > picture > img,
.freeBox__sWitC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_c276Gs_1FIE);
}
.subtitleText {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-6NbVMeD6zQwn);
}
.body {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 16px 16px;
}
.bodynoTitle {
  padding-top: 16px;
}
.text__zOyUr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
